/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,600&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}
.main:before {
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}
@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.app {
  @apply mx-auto flex min-h-screen max-w-7xl flex-col items-center p-2 pt-4 md:px-16;
}

.description {
  @apply mt-5 text-lg text-gray-600;
}

.flex_center {
  @apply flex items-center justify-center;
}

.logo_text {
  @apply text-3xl font-extrabold tracking-wide text-black md:text-4xl;
}

.black_button {
  @apply flex items-center justify-center rounded-full border-2 border-orange-600 bg-orange-600 px-5 py-1.5 text-center text-sm font-medium text-white shadow-lg transition-all hover:border-black hover:bg-white hover:text-black;
}

.black_button_disabled {
  @apply flex items-center justify-center rounded-full border-2 border-orange-600 bg-orange-600 px-5 py-1.5 text-center text-sm font-medium text-white opacity-50 shadow-lg;
}

.outline_button {
  @apply flex items-center justify-center rounded-full border-2 border-black bg-transparent px-5 py-1.5 text-center text-sm font-medium text-black shadow-lg transition-all hover:border-orange-600 hover:bg-orange-600 hover:text-white;
}

.label_input_text {
  @apply flex content-center items-center justify-between p-1;
}

.input_style {
  @apply rounded-lg border border-black bg-gray-50 p-1;
}

.form_input {
  @apply flex w-full rounded-lg p-3 text-sm text-gray-700 outline-0;
}

.feed {
  @apply mx-auto flex w-full max-w-xl flex-col items-center justify-center gap-1;
}

.prompt_card {
  @apply h-fit flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-4 pb-2 backdrop-blur-lg backdrop-filter md:w-[750px] md:p-6 md:pb-4;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 pl-5 pr-5 text-sm font-medium shadow-lg focus:border-black focus:outline-none focus:ring-0;
}

.search_input_select {
  @apply block rounded-md border border-gray-200 bg-white px-3 py-2.5 text-sm font-medium shadow-lg focus:border-black focus:outline-none focus:ring-0;
}

.search_input_button {
  @apply block rounded-md border border-orange-600 bg-orange-600 px-3 py-2.5 text-sm font-semibold text-white shadow-lg transition-all hover:border-black hover:bg-white hover:text-black;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

/* mt-2 flex flex-col mx-5 // div */
/* text-gray-900 font-semibold // label */
/* rounded-lg p-2 text-sm text-gray-700 outline-0 // input */
/* mt-1 flex flex-col md:flex-row md:justify-between md:items-center mx-5 // div also */
/* mt-5 text-lg text-gray-900 // header */
/* resize-y min-h-[150px] form_input mt-1 h-[150px] */
